<!doctype html>
<html>
<head>
    <title>Directors Who Like to Work with the Same Actors</title>
    <link rel="stylesheet" href="/stylesheet.css" />
</head>
<body>
    <!--Toolbar setup-->
    <ul>
	<li><a href="/">Home</a></li>
        <li class="dropdown">
		<a href="javascript:void(0)" class="dropbtn">Database Tables</a>
        	<div class="dropdown-content">
			<a href="/countries">Countries</a>
			<a href="/movies">Movies</a>
			<a href="/directors">Directors</a>
			<a href="/actors">Actors</a>
			<a href="/directorsOfMovies">Directors and Movies</a>
			<a href="/actorsInMovies">Actors in Movies</a>
			<a href="/moviesInCountries">Movies in Countries</a>
		</div>
	</li>
	<li class="dropdown">
		<a href="javascript:void(0)" class="dropbtn">Table Manipulations</a>
		<div class="dropdown-content">
			<a href="/addToTables">Add To Tables</a>
			<a href="/removeFromTables">Remove From Tables</a>
			<a href="/updateTables">Update The Tables</a>
		</div>
	</li>
	<li>
		<a href="/collaborations">Collaborations</a>
	</li>
	<li>
		<a href="/countries_and_the_movies">Countries and the Movies</a>
	</li>
    </ul>
    <!-- this file defines and displays the body information based on the
         handlebars file that is being implemented -->
	{{{body}}}
</body>
</html>
