<!doctype html>
<html>
<head>
	<title>Directors Who Like to Work with the Same Actors</title>
    <link rel="stylesheet" href="/stylesheet.css" />
</head>
<body>
    <!-- this file defines and displays the body information based on the
         handlebars file that is being implemented -->
	{{{body}}}
</body>
</html>
