<!--
 * Filename: actorsInMovies.handlebars
 * Author: Zachary Anderson, Ryan Gift
 * Date: 8/18/17
 * Description: This displays the Actors_Movies table from the database.
-->

<h3>This tables shows the movies an Actor had a role in</h3>
<table>
    <caption>Actors In Movies</caption>
    <tr>
        <th>Actors First Name</th>
	<th>Actors Last Name</th>
        <th>Movie Title</th>
    </tr>
    {{#if results}}
    {{#each results}}
    <tr>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
	<td>{{this.title}}</td>
    </tr>
    {{/each}}
    {{/if}}
</table>
