<!--
 * Filename: countries.handlebars
 * Author: Zachary Anderson, Ryan Gift
 * Date: 8/18/17
 * Description: This displays the Country table from the database.
-->

<h3>This will show the current table of countries</h3>
<table>
    <caption>List of Current Countries</caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Continent</th>
        <th>Population</th>
    </tr>
    {{#if results}}
    {{#each results}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.continent}}</td>
        <td>{{this.population}}</td>
    </tr>
    {{/each}}
    {{/if}}
</table>
