<h3> This table shows which movies a Director has Made</h3>
<table>
    <caption>List of Directors of Movies</caption>
    <tr>
        <th>Director First Name</th>
	<th>Director Last Name</th>
        <th>Movie Title</th>
    </tr>
    {{#if results}}
    {{#each results}}
    <tr>
        <td>{{this.first_name}}</td>
	<td>{{this.last_name}}</td>
        <td>{{this.title}}</td>
    </tr>
    {{/each}}
    {{/if}}
</table>
