<!--
 * Filename: home.handlebars
 * Author: Zachary Anderson, Ryan Gift
 * Date: 8/18/17
 * Description: This displays the website homepage.
-->

<br />
<h2>Welcome to our Website</h2>
<p>The following bullets describe how to navigate around this site</p>
<p><strong>Database Tables:</strong> this tab has a button for every table thats within the database.</p>
<p>Simply click on the button for the table you like to display and it will navigate you to the most</p>
<p>update-to-date version from the server.</p>
<p><strong>Table Manipulations:</strong> this tab has a button for each page that contains the certain</p>
<p>forms for manipulating tables in the database.</p>
