<h3>Movies in Countries</h3>
<table>
    <caption>List of Movies in Countries</caption>
    <tr>
        <th>Movie Title</th>
        <th>Country</th>
    </tr>
    {{#if results}}
    {{#each results}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.name}}</td>
    </tr>
    {{/each}}
    {{/if}}
</table>
