<br />
<h2>Remove Country from Table:</h2>
<form id="removeCty">
    <div>
        <label class="inputLabel">Country Name:</label>
        <input class="userInput" type="text" name="country_name" id="country_name">
    </div>
    <br />
    <div>
        <input type="submit" name="RemoveCountry" value="RemoveCountry" id="postREMOVEcty">
    </div>
</form>

<h2>Remove Actor From Movie:</h2>
<form id="removeAfromM">
	<div>
        	<label class="inputLabel">Actors First Name:</label>
        	<input class="userInput" type="text" name="a_fname" id="a_fname">
    	</div>
    	<br />
	<div>
        	<label class="inputLabel">Actors Last Name:</label>
        	<input class="userInput" type="text" name="a_lname" id="a_lname">
	</div>
	<br />
	<div>
        	<label class="inputLabel">Movie Title:</label>
        	<input class="userInput" type="text" name="movie_title" id="movie_title">
    	</div>
    	<br />
	<div>
		<input type="submit" name="RemoveActorFromMovie" value="RemoveActorFromMovie" id="postREMOVEam">
	</div>
</form>

<h2>Remove Director From Movie:</h2>
<form id="removeDfromM">
	<div>
        	<label class="inputLabel">Directors First Name:</label>
        	<input class="userInput" type="text" name="d_fname" id="d_fname">
    	</div>
    	<br />
	<div>
        	<label class="inputLabel">Directors Last Name:</label>
        	<input class="userInput" type="text" name="d_lname" id="d_lname">
	</div>
	<br />
	<div>
        	<label class="inputLabel">Movie Title:</label>
        	<input class="userInput" type="text" name="m_title" id="m_title">
	</div>
	<br />
	<div>
		<input type="submit" name="RemoveDirectorFromMovie" value="RemoveDirectorFromMovie" id="postREMOVEdm">
	</div>
</form>

<h2>Remove Movie from Country:</h2>
<form id="removeMfromC">
	<div>
        	<label class="inputLabel">Movie Title:</label>
        	<input class="userInput" type="text" name="movie_title" id="movie_title">
    	</div>
    	<br />
	<div>
        	<label class="inputLabel">Country Name:</label>
        	<input class="userInput" type="text" name="country_name" id="country_name">
	</div>
	<br />
	<div>
		<input type="submit" name="RemoveMovieFromCountry" value="RemoveMovieFromCountry" id="postREMOVEmc">
	</div>
</form>

<script src="./appDelete.js"></script>