<br />
<h2>Update Actors in Movies Information:</h2>
<form id="updateActor" action="/updateActor" method="get">
	<div>
		<label class="inputLabel">Actor First Name:</label>
		<input class="userInput" type="text" name="first_name" id="first_name">
	</div>
	<br />
	<div>
		<label class="inputLabel">Actor Last Name:</label>
		<input class="userInput" type="text" name="last_name" id="last_name">
	</div>
	<br />
	<div>
		<label class="inputLabel">Actor Age:</label>
		<input class="userInput" type="text" name="age" id="age">
	</div>
	<br />
	<div>
		<label class="inputLabel">Actor Country:</label>
        <select name="country" id="country">
            <option value="" selected="selected">Select Country</option>
            {{#if name}}
            {{#each name}}
            <option id="selectedName" value="{{this.name}}">{{this.name}}</option>
            {{/each}}
            {{/if}}
        </select>
	</div>
	<br />
	<div>
		<input type="submit" name="updateActor" value="updateActor" id="postUpAct">
	</div>
</form>

<!--<script src="./appUpdate.js"></script>-->