<br />
<h2>Update Directors Information:</h2>
<form id="updateDirector">
	<div>
		<label class="inputLabel">Director First Name:</label>
		<input class="userInput" type="text" name="d_fname" id="d_fname">
	</div>
	<br />
	<div>
		<label class="inputLabel">Director Last Name:</label>
		<input class="userInput" type="text" name="d_lname" id="d_lname">
	</div>
	<br />
	<div>
		<label class="inputLabel">Director Age:</label>
		<input class="userInput" type="text" name="d_age" id="d_age">
	</div>
	<br />
	<div>
		<label class="inputLabel">Director Country:</label>
		<input class="userInput" type="text" name="d_cid" id="d_cid">
	</div>
	<br />
		<input type="submit" name="updateDirector" value="updateDirector" id="postUpDir">
	</div>
</form>

<h2>Update Actors Information:</h2>
<form id="updateActor">
	<div>
		<label class="inputLabel">Actor First Name:</label>
		<input class="userInput" type="text" name="a_fname" id="a_fname">
	</div>
	<br />
	<div>
		<label class="inputLabel">Actor Last Name:</label>
		<input class="userInput" type="text" name="a_lname" id="a_lname">
	</div>
	<br />
	<div>
		<label class="inputLabel">Actor Age:</label>
		<input class="userInput" type="text" name="a_age" id="a_age">
	</div>
	<br />
	<div>
		<label class="inputLabel">Actor Country:</label>
		<input class="userInput" type="text" name="a_cid" id="a_cid">
	</div>
	<br />
		<input type="submit" name="updateActor" value="updateActor" id="postUpAct">
	</div>
</form>

<script src="./appUpdate.js"></script>
